.header {
  padding: 30px 16px;
  display: flex;
  justify-content: space-between;
  color: #111517;
}

.header h1 {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
}

.header button {
  font-size: 12px;
  font-weight: 600;
  line-height: 16.37px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(/img/moon-icon-countries.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
}

.input-area {
  max-width: 343px;
  margin-inline: auto;
}

.input {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px #0000000E;
  margin-bottom: 40px;
  margin-top: 24px;
}

.input input {
  padding-block: 14px;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 20px;
}

.input img {
  margin-left: 32px;
  margin-right: 26px;
}

.select-area select {
  width: 200px;
  height: 48px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 12px;
  line-height: 20px;
  padding: 14px 24px;
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px #0000000e;
}

.countries {
  max-width: 264px;
  margin-inline: auto;
  margin-top: 32px;
}

.country-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.countryItem {
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px #00000008;
}

.countryItem img {
  width: 264px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-info {
  padding: 24px 24px 46px;
  color: #111517;
}

.card-info h2 {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  margin-bottom: 16px;
}

.card-info p {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 8px;
}

.card-info span {
  font-weight: 600;
}

.country-details {
  max-width: 320px;
  margin-inline: auto;
}

.backBtn {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 7px 0px #0000004B;
  padding-block: 6px;
  margin-top: 46px;
  margin-bottom: 70px;
  border-style: none;
  width: 136px;
  background-image: url(/img/back-icon.svg);
  background-repeat: no-repeat;
  background-position: 30% 50%;
  padding-left: 39px;
}

.card-detail-first {
  margin-top: 44px;
  margin-bottom: 32px;
  color: #111517;
}

.card-detail-first h1 {
  font-size: 22px;
  font-weight: 800;
  line-height: 30.01px;
  margin-bottom: 16px;
}

.card-detail-first p, .card-detail-second {
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;

  strong {
    font-weight: 600;
  }
}

.card-details img {
  width: 320px;
  height: 229px;
}

.card-detail-second {
  margin-bottom: 34px;
  color: #111517;
}

.border-countries-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
}

.border-countries {
  display: flex;
  gap: 10px;
}

.borderBtn {
  border: 1px solid #979797;
  box-shadow: 0px 0px 4px 1px #0000001B;
  background-color: #fff;
  border-style: none;
  font-size: 12px;
  font-weight: 300;
  line-height: 16.37px;
  padding-block: 6px;
  width: 96px;
  color: #111517;
}

.border-countries-content h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111517;
}

/* Dark Theme */

body.darkMode {
  background-color: #202C36;
}

.darkMode {
  .header, 
  input, 
  .input, 
  .regions, 
  .countryItem,
  .borderBtn,
  .backBtn {
    background-color: #2B3844;
  }

  .header h1, 
  .header button, 
  input::placeholder, 
  .regions, 
  .card-info h2, 
  .card-info p,
  .borderBtn,
  .backBtn,
  .card-detail-first,
  .card-detail-second,
  .border-countries-content h4 {
    color: #fff;
  }

  .header button {
    background-image: url(/img/moon-icon-dark-mode.svg);
  }

  .backBtn {
    background-image: url(/img/back-icon-dark-mode.svg);
  }
}

/* Tablet Start */

@media (width >= 768px) {

  .input-area {
    max-width: 688px;
    display: flex;
    justify-content: space-between;
  }

  .countries {
    max-width: 688px;
    margin-top: 40px;
  }

  .country-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .countryItem img {
    width: 100%;
  }

  .input-area {
    margin-top: 40px;
  }

  .input {
    width: 300px;
    margin-top: 0;
  }

  .country-details {
    max-width: 688px;
  }
}

/* Desktop Start */

@media (width >= 1280px) {

  .header {
    padding: 23px 80px;
  }

  .header h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
  }

  .header button {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.82px;
  }

  .input-area {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
  }

  .input {
    width: 480px;
    margin-top: 0;
  }

  .countries {
    max-width: 1280px;
    margin-top: 48px;
  }

  .country-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 75px;
  }

  .country-details {
    max-width: 1280px;
    margin-inline: auto;
  }

  .card-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 343px;
  }
  
  .card-detail-first {
    margin-top: 0;
  }

  .card-details img {
    width: 560px;
    height: 401px;
  }

  .card-details-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 68px 120px;
  }

  .border-countries-content {
    display: flex;
    gap: 16px;
  }
  
  .border-countries {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .borderBtn {
    font-size: 14px;
    line-height: 19.1px;
  }
}